*, :before, :after
  box-sizing border-box
  
button 
  background-color transparent
  border none 
  outline none

mark
  background transparent
  color inherit
  font-weight normal   

input[type=text]
input[type=email]
input[type=password]
input[type=tel]
textarea
select
  outline none
  appearance none  
  
input[type=number]::-webkit-inner-spin-button
input[type=number]::-webkit-outer-spin-button 
  -webkit-appearance none
  margin 0
  
input[type=number]  
  -moz-appearance textfield

