@font-face {
  font-family: 'flow';
  src: url('../fonts/flow.eot');
  src: url('../fonts/flow.eot?#iefix') format('embedded-opentype'),
    url('../fonts/flow.woff') format('woff'),
    url('../fonts/flow.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}