input, textarea
  color #fff 
  &::placeholder 
    color #fff 
    font-weight 300 
     
input[type=text]
input[type=email]
input[type=tel]
input[type=number]
input[type=password] 
  height 48px
  display block
  background-color transparent 
  border-radius 5px
  border 2px solid transparent
  padding 12px 11px
  line-height 20px
  font-size 15px


textarea {}
      
input[type=radio] {}
input[type=checkbox] {}
input[type=select] {}

button
  cursor pointer
  
button[type=submit] 
  height 48px
  text-align center
  background-color $red   
  text-transform uppercase
  font-size 16px
  line-height 20px
  padding 14px 11px
  border none
  border-radius 5px
  color #fff 
  font-weight 500 
