html
  min-height 100%
  min-width 320px

body
  min-height 100%
  width 100%
  overflow-x hidden
  overflow-y visible
  min-width 320px
  
.body 
  display flex
  flex-flow column 
  align-items stretch 

.wrapper 
  max-width 1286px 
  min-width 320px
  margin 0 auto
  padding-left 20px
  padding-right 20px
  overflow hidden
  +breakpoint(medium)
    padding-left 45px
    padding-right 45px
  +breakpoint(large)
    padding-left 80px
    padding-right 80px