body, button, input, textarea, select 
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size 16px
  line-height 20px
  color #333 
  
  

// Titles  
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  display block
  font-weight 500 
  &:first-child 
    margin-top 0
  &:last-child
    margin-bottom 0
h1, .h1 {}
h2, .h2 {}
h3, .h3 {}
h4, h5, h6, .h4, .h5, .h6 {}
  
.subheading {}

a, a:link, a:visited 
  cursor pointer
  text-decoration none

a:hover, a:active 
  text-decoration underline

.is-dashed, a.is-dashed
  display inline-block
  border-bottom 1px dashed currentColor
  text-decoration none
  line-height 1
  &:hover
    text-decoration none
    border-bottom-color transparent

p 
  &:first-child 
    margin-top 0
  &:last-child 
    margin-bottom 0
  
b, strong {}

em, i {}
ul, ol {}