extends layouts/default.layout.pug

block content
  
  +primaryScreen({})
  +pricingScreen({})
  +featuresScreen({})
  +prizesScreen({})

  +b.footer
    .wrapper 
      | © 2016 ООО «Гуру». Все права защищены


block overlay
  +b.overlay(data-overlay)
    +b.modal
      +e.close(data-close-overlay)
        +svgSpriteIcon({name: 'modal-close'})
      +e.icon
        +svgSpriteIcon({name: 'modal-check'})
      +e.name Константин,
      +e.title Ваша заявка отправлена! 
      +e.text 
        | Мы свяжемся с вами в течение рабочего дня,
        br
        | а ваш приз, MP3-плеер, можно будет забрать вместе 
        br
        | с вашим отремонтированным гаджетом.
      +e.button(data-close-overlay) Хорошо
