// inspired by Zurb's Foundation visibility helpers

$bpsLength = length($breakpoints)  
$names = keys($breakpoints)

// print helper classes
$i = 0
for $name, $key in $breakpoints
  
  // hide
  .hide-for-{$name}
    +breakpoint($name)
      display none !important
      
  .hide-for-{$name}-only
    +breakpoint($name, only)
      display none !important
      
  // show
  .show-for-{$name}
    if $i is 0 and $bpsLength > 0
      +breakpoint($names[$i + 1])
        display none !important    
    else if $i > 0
      +breakpoint($names[$i - 1], down)
        display none !important

  .show-for-{$name}-only
    if $i is 0 and $bpsLength > 0
      +breakpoint($names[$i + 1])
        display none !important
    else if $i < $bpsLength - 1 and $i > 0
      +breakpoint($names[$i + 1])
        display none !important  
      +breakpoint($names[$i - 1], down)
        display none !important
    else if $i is $bpsLength - 1 and $i > 0
      +breakpoint($names[$i - 1], down)
        display none !important
  
  $i = $i + 1  