mixin svgIcon(props)
  if props && props.name
    - var className = ("svg_sprite-icon svg-icon_" + props.name + (props.classList ? ' ' + props.classList : '') )

    svg(class = className)&attributes(attributes)
      use(
        xmlns:xlink = "http://www.w3.org/1999/xlink"
        xlink:href = (`img/${props.name}.svg`)
      )

    //- img(
    //-   class=`svg_icon svg-icon_${props.name} ${props.classList || ''}`
    //-   src=`img/${props.name}.svg`
    //- )
  else 
    h1 No name property in svgIcon mixin