mixin svgSpriteIcon(props)

  if props.name

    - var className = ("svg_icon svg-icon_" + props.name + (props.classList ? ' ' + props.classList : '') )

    svg(class = className)&attributes(attributes)
      use(
        xmlns:xlink = "http://www.w3.org/1999/xlink"
        xlink:href = ('#svg-icon_' + props.name)
      )

  else 
    h1 no "name" propertly in +svgSpriteIcon