mixin primaryScreen(props)

  +b.intro#intro

    +e.decoration

    +e.header
      +e.header-wrapper.wrapper
        +e.logo
          +svgSpriteIcon({ name: 'logo' })
        +e.contacts__
          each item in data.index.phones
            +e.A(href=item.href).item
              +e.number
                +svgSpriteIcon({ name: item.icon })
                span= item.number
              +e.description= item.description
            

    +e.body
      +b.intro-body
        +e.wrapper.wrapper
          +e.content
            +e.H1.title
              span Выездной ремонт 
              span вашего iPhone и iPad 
              span в Москве
            +e.text
              span Мастер приедет в течение часа (домой, в офис, 
              span кафе или спортзал), ремонт займет от 20 минут.
            +e.prize
              +e.prize-image
              span 
                | Мы дарим один из 3-х гарантированных призов при оформлении заявки на ремонт! 
                a(href="#bonus").is-dashed Получить приз
            +e.FORM.form(action="/url", data-form, method="POST")
              input(type="text", placeholder="Имя...", name="name", data-sync-input)
              input(type="text", placeholder="Телефон...", name="tel", data-sync-input)
              input(type="text", placeholder="Модель iPhone/iPad...", name="model", data-sync-input)
              button(type="submit", data-submit-button) Вызвать мастера
              +e.A(href="#pricing").form-caption
                i
                  +svgSpriteIcon({ name: 'ruble' })
                span.is-dashed Сколько стоит ремонт?

        