mixin pricingScreen(props)

  +b.pricing#pricing
    .wrapper
      +e.title
        span Выберите модель вашего iPhone или iPad 
        span и узнайте стоимость ремонта

      //- set active indexes here
      - var activeNavItem = 0
      - var activeSubnavItem = 0

      +e.component

        //- JSON data scructure
        //- {
        //-   item : [
        //-     {
        //-       subitem : [
        //-         {
        //-           prop: 'val',
        //-           prop2: 'val2',
        //-         }
        //-       ]
        //-     }
        //-   ]
        //- }

        +e.nav  
          .pricing-nav
            //- top level navigation items
            - var i = 0
            each navItem, navKey in data.example
              button.pricing-nav__item(
                class = i++ === activeNavItem ? 'is-active' : '',
                data-pricing-nav-item
              )= navKey


        +e.subnav_desktop.show-for-medium
          //- desktop navs
          - var i = 0
          - var i2 = 0
          each navItem, navKey in data.example
            .pricing-subnav(
              class = i++ === activeNavItem ? 'is-active' : '',
              data-parent-nav = i,
              data-pricing-subnav
            )
              //- secondary navigation items
              each subnavItev in navItem
                button.pricing-subnav__item(
                  class = i2++ === activeSubnavItem ? 'is-active' : '',
                  data-pricing-subnav-item
                )= Object.keys(subnavItev)[0]

        +e.subnav_mobile.hide-for-medium
          //- mobile navs
          - var i = 0
          - var i2 = 0
          each navItem, navKey in data.example
            label.pricing-subnav-select(
              class = i++ === activeNavItem ? 'is-active' : '',
              data-parent-nav = i,
              for=('subnav' + i),
              data-pricing-subnav-select
            )
              select(
                value = activeSubnavItem,
                id=('subnav' + i),
              )
                //- secondary navigation items
                each subnavItev, index in navItem
                  option(
                    value = index,
                    selected = ( index === activeSubnavItem ? 'selected': false )
                  )= Object.keys(subnavItev)[0]



        +e.content

          //- content blocks iteration
          - var i = 0
          - var i2 = 0
          each navItem, navIndex in data.example
            each subnavItem, subnavIndex in navItem
              each contentItems, contentIndex in subnavItem
                .pricing-content(
                  class = (i === activeNavItem && i2 === activeSubnavItem ? 'is-active' : '')
                  data-parent-subnav= subnavIndex
                  data-parent-nav= i,
                  data-pricing-subnav-content
                )
                  each item in contentItems
                    .pricing-content__item
                      .pricing-content__item-title= item.name
                      .pricing-content__item-price
                        span= item.price
                        +svgSpriteIcon({name:'ruble'})
              - i2++
            - i++


            

      +e.footer
        +e.footer-desc Не нашли в списке свою неисправность?
        +e.footer-primary
          span 
            +svgSpriteIcon({ name: 'handset', classList: 'show-for-medium' })
            | Звоните нам по номеру 
            b 8 800 200-50-78
            | , мы поможем!