mixin featuresScreen(props)

  +b.features#features
    .wrapper
      +e.title Преимущества компании
      +e.items-list
        each feature in data.index.features
          +b.feature-item
            +e.icon
              +svgSpriteIcon({ name: feature.icon })
            +e.text= feature.text