mixin prizesScreenSecondaryText(props)
  .bonus__text-secondary(
    class = props.classList ? props.classList : ''
  )
    mark Не откладывайте ремонт — последствия могут быть необратимы!
    span 
      | Доверьте ремонт нам, 
      br 
      | и мы всё сделаем как надо.



mixin prizesScreen(props)

  +b.bonus#bonus
    +e.wrapper.wrapper

      +e.text
        +e.text-primary
          mark АКЦИЯ!
          span До 1 декабря каждому заказчику гарантированный приз!

        +prizesScreenSecondaryText({ classList : 'show-for-medium' })


      +e.prize
        +b.prize
          +e.title
            +b.prize-heading
              +e.primary 
                span Нажмите на один из квадратов 
                span и получите случайный приз:
              +e.secondary 
                span MP3-плеер, зарядку или 
                span защитное стекло!
              +e.decoration.show-for-medium

          +e.body
            +e.header
              +b.choose-prize.is-active(data-choose-prize-box)
                each item in [1, 2, 3]
                  +e.BUTTON.item(data-choose-prize)
                    span= item

              +b.the-prize(data-the-prize-box)
                each prize, index in data.index.prizes
                  +e.item(class = (index === 0 ? 'is-active' : '') )
                    +e.image( class="_" + prize.image)

                    +e.title-1 Поздравляем!
                    +e.title-2= prize.title
                    +e.description 
                      | Чтобы получить приз, оставьте заявку на ремонт прямо сейчас, и мы вручим вам его вместе с отремонтированным гаджетом!
                  


            +e.form
              +b.FORM.prize-form(action="/url", data-form)
                input(type="text", placeholder="Имя...", name="name", data-sync-input)
                input(type="text", placeholder="Телефон...", name="tel", data-sync-input)
                input(type="text", placeholder="Модель iPhone/iPad...", name="model", data-sync-input)
                button(type="submit", data-submit-button) Вызвать мастера

              +e.contacts__
                each item in data.index.phones
                  +e.A(href=item.href).item
                    +e.item-number
                      +svgSpriteIcon({ name: item.icon })
                      span= item.number
                    +e.item-description= item.description



      +prizesScreenSecondaryText({ classList : 'show-for-small' })
