.intro
  bg('head-bg.jpg')
  background-position 50% 50%
  background-size cover  
  color #fff 
  position relative
  overflow hidden
  
  padding-top 25px
  padding-bottom 40px
  
  +breakpoint(medium)
    padding-top 55px
    padding-bottom 65px
  
  &__decoration 
    display none
    position absolute
    z-index 1
    bottom 6px
    bg('mate.png')
    background-position 50% 0% 
    background-size cover 
    +breakpoint(medium)
      width 426px
      height 573px
      display block
      left 50%
      margin-left 20px
    +breakpoint(large)
      width 489px
      height 662px
      margin-left 100px 
    +breakpoint(wide)
      margin-left 80px 
  
  &__header 
    position relative
    z-index 2
  &__header-wrapper 
    clearfix()
    margin-bottom 35px
    +breakpoint(small, down)
      border-bottom 1px solid #97cbe6
      padding-bottom 25px
    
  &__logo 
    float left
    fill #fff
    svg
      width 100px
      height 71px
    +breakpoint(medium)
      svg 
        width 142px
        height 101px
  
  &__contacts 
    float right
    display flex
    flex-flow column 
    color #fff 
    +breakpoint(medium)
      flex-flow row 
    
    svg
      +breakpoint(small, down)
        width 18px
        height 18px
    
    &__item, a&__item
      flex 0 0 auto
      text-align right
      line-height 21px
      color #fff 
      text-decoration none
      +breakpoint(small, down)
        &:not(:last-child)
          margin-bottom 12px
      +breakpoint(medium)
        &:not(:last-child)
          margin-right 30px
        
    &__number 
      transition none
      display block
      font-size 17px
      text-transform uppercase
      > * 
        display inline-block
        vertical-align middle
      
      +breakpoint(medium)
          font-size 24px
          line-height 30px

      svg 
        fill currentColor
        margin-right 10px
        display inline-block
      span 
        display inline-block
        
    &__description 
      display block
      font-size 12px
      text-decoration none
      +breakpoint(medium)
        font-size 15px

  &__body {}
  
.intro-body  
  position relative
  z-index 2
  &__wrapper {}
  &__content 
    +breakpoint(medium)
      max-width 500px
    +breakpoint(large)
      max-width 1000px 
  

  &__title 
    line-height 34px
    font-size 26px
    margin-bottom 21px
    +breakpoint(medium)
      font-size 48px
      line-height 54px
      span 
        display block
    +breakpoint(large)
      font-size 68px
      line-height 72px
      margin-bottom 29px
    
  &__text 
    line-height 24px
    font-size 17px
    margin-bottom 36px
    +breakpoint(medium)
      font-size 20px
      line-height 30px
      margin-bottom 20px
      span 
        display block
    +breakpoint(large)
      font-size 30px
      line-height 36px
      margin-bottom 23px
      
  &__prize 
    margin-bottom 37px
    display flex
    align-items center 
    +breakpoint(medium)
      margin-bottom 11px
    +breakpoint(large)
      font-size 22px
      line-height 24px
      max-width 600px
      margin-bottom 32px
    span 
      flex 1 1 auto
      width 100%
      font-family 'flow' 
      a 
        color #fff 
        text-decoration none
        border-bottom 1px dashed #fff
        display inline-block
        line-height 1
        &:hover
          border-bottom-color transparent
      
  &__prize-image
    flex 0 0 auto 
    width 72px
    height 72px
    bg('ipod-prize.png')
    display block
    margin-right 6px
    margin-left -6px
    
  &__form
    display flex
    flex-wrap wrap 
    > * 
      flex 0 1 auto
      width 100%
      &:not(:last-child)
        margin-bottom 18px
      
      +breakpoint(medium)
        flex 0 0 auto
        width calc(50% - 9px)
        &:nth-child(2n+1)
          margin-right 9px
        &:nth-child(2n)
          margin-left 9px
        
    +breakpoint(medium)
      width 462px
        
    input 
      color #fff 
      border 2px solid #fff
    button 
      margin-bottom 30px !important
  
  &__form-caption, a&__form-caption 
    text-align center
    cursor pointer
    color #fff 
    i 
      width 22px
      height 22px
      border-radius 50%
      border 1px solid #fff
      text-align center
      line-height 20px
      display inline-block
      vertical-align middle
      line-height 22px
      margin-right 10px
      svg 
        display inline-block
        vertical-align middle
        fill #fff
        margin-top -2px
    span 
      display inline-block
      vertical-align middle
      border-bottom 1px dashed #fff
      
    +breakpoint(medium)
      margin 0 !important
    +breakpoint(large)
      margin-left auto !important
      flex 0 0 auto
      width calc(50% - 9px)




