.pricing
  padding-top 35px
  padding-bottom 35px
  
  +breakpoint(medium)
    padding-top 80px
    padding-bottom 60px
  
  &__title 
    color $blue
    font-size 20px
    line-height 26px 
    margin-bottom 16px
    text-align center
    +breakpoint(small, down)
      padding 0 10px
    +breakpoint(medium)
      font-size 36px
      line-height 44px
      margin-bottom 36px
  
  &__component {}
  
  &__nav 
    margin-bottom 20px
  
  &__subnav 
    +breakpoint(small, down)
      margin-bottom 20px
  
  &__content 
    margin-bottom 20px
    +breakpoint(medium)
      margin-bottom 43px
  

  &__footer 
    text-align center
    +breakpoint(medium)
      font-size 20px
      line-height 30px
    &-desc 
      +breakpoint(small, down)
        font-size 14px
        line-height 22px
        margin-bottom 3px
        
    &-primary 
      +breakpoint(small, down)
        font-size 16px
        line-height 26px
      b 
        font-weight 500 
      span 
        display inline-block
        vertical-align middlec
      svg 
        display inline-block
        vertical-align middle
        margin-right 7px
        +breakpoint(medium)
          margin-right 10px
  


.pricing-nav 
  border-radius 5px 
  border 1px solid $blue
  display flex
  height 40px
  align-items stretch 
  overflow hidden
  +breakpoint(medium)
    margin 0 auto 30px
    width 294px
    height 60px
    border-radius 10px
  
  &__item
    flex 0 0 auto
    width 50%
    text-align center
    color $blue 
    background-color #fff 
    cursor pointer
    font-size 18px
    line-height 38px
    +breakpoint(medium)
      line-height 58px
      font-size 25px
    &.is-active
      background-color $blue
      color #fff  



.pricing-subnav
  overflow auto 
  &:not(.is-active)
    display none
  +breakpoint(medium)
    height 70px
    border-top 1px solid #cae4f3
    border-bottom 1px solid #cae4f3
    display flex
    justify-content space-between 
    padding 15px 0 15px
    line-height 38px
    width 100%
  +breakpoint(large)
    padding-left 25px
    padding-right 25px
  
  &__item
    text-align center
    font-size 18px
    flex 0 0 auto
    color $blue 
    white-space nowrap
    height 38px
    // min-width 38px
    margin 0
    padding 0
    line-height 38px
    &.is-active
      height 38px
      min-width 38px
      padding-left 5px
      padding-right 5px
      text-align center
      border-radius 5px
      background-color $blue
      color #fff  
    +breakpoint(large)
      padding-left 5px
      padding-right 5px 
      min-width 38px
      font-size 21px
      font-weight 700 



.pricing-subnav-select
  &:not(.is-active)
    display none
  border-radius 5px
  color #fff 
  background-color $blue 
  cursor pointer
  width 100%
  display block
  position relative
  &:after
    position absolute
    z-index 2
    border 6px solid transparent
    border-bottom none
    border-top-color #fff
    border-top-width 8px
    content "" 
    display block
    right 16px
    top 16px
  select
    position relative
    z-index 1
    display block
    width 100%
    height 40px
    line-height 20px
    padding 10px 15px
    cursor pointer
    outline none 
    font-weight 700 
    font-size 18px
    color #fff 
    background-color transparent
    border none
    option
      color #000
      cursor pointer 



.pricing-content
  &:not(.is-active)
    display none
    
  +breakpoint(medium)
    display flex
    flex-wrap wrap 
  
  &__item
    border-bottom 1px solid #cae4f3
    &:first-child
      +breakpoint(small, down)
        border-top 1px solid #cae4f3
        
    line-height 20px
    padding 10px
    font-size 14px
    display flex
    justify-content space-between
  
    +breakpoint(medium)
      flex 0 0 auto
      width 50%
      line-height 22px
      padding 13px 25px
      font-size 17px
      &:nth-child(2n+1)
        border-right 1px solid #cae4f3
      &:nth-last-child(-n+2)
        border-bottom none 
       
    
    &-title 
      margin-right auto
    &-price 
      white-space nowrap
      margin-left 20px
      font-weight 500 


