.features
  background-color $blue
  border-top 6px solid #d65151
  padding-top 40px
  padding-bottom 40px
  color #fff 

  &__title
    font-size 20px
    line-height 26px
    margin-bottom 30px
    text-align center
    +breakpoint(medium)
      font-size 36px
      line-height 44px
      margin-bottom 55px
  
  &__items-list
    display flex
    flex-flow wrap


.feature-item
  flex 0 0 auto
  width 50%
  color #fff 
  +breakpoint(large)
    width 33.3333333%
  
  &:not(:nth-last-child(-n+2))
    margin-bottom 28px
    +breakpoint(medium)
      margin-bottom 40px

  &__icon 
    height 60px
    letter-spacing 60px
    text-align center
    margin-bottom 16px
    +breakpoint(medium)
      line-height 100px
      height 100px
      margin-bottom 28px
    svg
      display inline-block
      vertical-align middle
      fill #fff
      
    +breakpoint(small, down)
      .svg-icon_feature-car 
        width 54px
        height 50px
      .svg-icon_feature-gear 
        width 51px
        height 60px
      .svg-icon_feature-heart 
        width 60px
        height 60px
      .svg-icon_feature-master 
        width 60px
        height 60px
      .svg-icon_feature-payment 
        width 41px
        height 60px
      .svg-icon_feature-shield 
        width 45px
        height 60px
    
  &__text 
    text-align center
    padding-left 5px
    padding-right 5px
    font-size 16px
    line-height 22px
    font-weight 300 
    +breakpoint(medium)
      font-size 20px
      line-height 24px