.bonus
  padding-top 45px
  padding-bottom 45px
  
  &__wrapper
    display flex
    +breakpoint(small, down)
      flex-flow column 
      flex-wrap wrap
    +breakpoint(medium)
      align-items stretch 
      > * 
        flex 0 0 auto
        width 50%
  
  &__text
    display flex
    flex 1 1 auto
    margin-bottom 18px
    +breakpoint(medium)
      justify-content space-around
      flex-flow column
      padding-right 20px
    +breakpoint(large)
      padding-right 40px
    &-primary 
      color #d65151
      font-weight 300 
      mark 
        font-size 30px
        line-height 34px
        text-transform uppercase
        font-weight 500 
        display block
        margin-bottom 12px
        +breakpoint(medium)
          font-weight 400 
          font-size 49px
          line-height 48px
          margin-bottom 18px
        +breakpoint(wide)
          font-size 54px
          
      span 
        font-size 20px
        line-height 26px
        margin-bottom 26px
        +breakpoint(medium)
          font-size 24px
          line-height 34px
        +breakpoint(wide)
          font-size 30px
          line-height 46px
        
    &-secondary 
      font-weight 300
      +breakpoint(small, down)
        margin-bottom 30px
      mark 
        color $blue
        font-size 20px
        line-height 26px 
        display block
        margin-bottom 9px
        font-weight 300 
        +breakpoint(medium)
          font-size 32px
          line-height 40px
          margin-bottom 14px
        +breakpoint(wide)
          font-size 40px
          line-height 44px
      span 
        font-size 16px
        line-height 22px
        +breakpoint(medium)
          font-size 20px
          line-height 30px
        +breakpoint(wide)
          font-size 30px
          line-height 36px
    
  
  &__prize 
    +breakpoint(medium, only)
      width 330px
    +breakpoint(large)
      width 522px 
    +breakpoint(wide)
      width 588px
  


.prize-heading
  position relative
  +breakpoint(large)
    text-align center
    
  &__primary 
    font-family 'flow'
    color #333
    font-size 16px
    line-height 22px  
    display block
    marghin-bottom 7px
    +breakpoint(medium, only)
      span 
        display block
    +breakpoint(large)
      line-height 30px
      margin-bottom 0
    +breakpoint(wide)
      font-size 20px
      line-height 30px
        
  &__secondary
    color $blue
    font-size 18px
    text-transform uppercase
    line-height 28px
    margin-bottom 18px 
    +breakpoint(medium, only)
      span 
        display block
    +breakpoint(medium)
      line-height 30px
    +breakpoint(wide)
      font-size 21px
      line-height 30px
        
  &__decoration
    display block
    position absolute
    bg('arrow-pointer.png') 
    width 47px
    height 46px
    top 32px
    right 71px
    +breakpoint(large)
      top 14px
      right -4px
    +breakpoint(wide)
      right -28px
      



.prize 
  margin-bottom 25px
  
  &__title 
    margin-bottom 18px
  &__body 
    display flex
    flex-flow column
    > *
      flex 0 0 auto 
  &__header 
    position relative
    z-index 2
  &__form 
    position relative
    z-index 1
    border-radius 0 0 11px 11px 
    padding 33px 18px 25px
    margin-top -3px
    border 2px solid $blue
    border-top none 
    +breakpoint(large)
      padding-left 28px
      padding-right 28px
  
  &__contacts 
    display flex
    +breakpoint(medium, down)
      flex-flow column 
      align-items center 
      
    +breakpoint(large)
      width 100%
      justify-content space-between
      > *
        width calc(50% - 9px) 

    &__item, a&__item
      flex 0 0 auto
      text-align right
      line-height 30px
      text-decoration none
      &:not(:last-child)
        margin-bottom 10px
      &-number 
        font-size 24px
        display block
        svg 
          fill $blue
          margin-right 12px
          display inline-block
          vertical-align middle
        span 
          color $blue 
          display inline-block
          vertical-align middle
      &-description 
        text-decoration none
        font-size 15px
        color #333 



.prize-form
  width 100%
  display flex
  margin-bottom 24px
  +breakpoint(medium, down)
    flex-flow column
    > *     
      flex 0 0 auto
      &:not(:last-child)
        margin-bottom 18px
        
  +breakpoint(large)
    flex-wrap wrap
    > *
      flex 0 0 auto
      width calc(50% - 9px) 
      &:nth-child(2n)
        margin-left 9px
      &:nth-child(2n+1)
        margin-right 9px
      &:nth-last-child(n+3)
        margin-bottom 18px
    
  input
    background-color #f2f2f2 
    color #4c4c4c 
    &::placeholder 
      color #4c4c4c 
  button
    background-color $blue
    color #fff  



.choose-prize 
  display flex
  justify-content space-around
  border-radius 11px 11px 0 0
  border 2px solid #d65151
  padding 28px 18px
  margin 0 auto
  &:not(.is-active)
    display none
  +breakpoint(large)
    padding 28px
    
  &__item 
    flex 0 0 auto
    width 70px
    height 70px
    line-height 70px
    text-align center
    bg('prize-box-s.png')
    background-size cover 
    font-size 30px
    cursor pointer
    +breakpoint(small, down)
      &:not(:first-child)
        margin-left 7px
      &:not(:last-child)
        margin-right 7px
    span 
      color #fff 
      opacity 0.7
      font-size 30px
      font-weight bold 
    +breakpoint(medium)
      width 86px
      height 86px
      line-height 86px
      bg('prize-box-m.png')
      &:not(:first-child)
        margin-left 8px
      &:not(:last-child)
        margin-right 8px
    +breakpoint(large)
      width 138px
      height 138px
      line-height 138px
      bg('prize-box.png')
      span
        font-size 60px
      &:not(:first-child)
        margin-left 12px
      &:not(:last-child)
        margin-right 12px
    +breakpoint(wide)
      width 160px
      height 160px
      line-height 160px
      bg('prize-box.png')
      span
        font-size 72px
      &:not(:first-child)
        margin-left 12px
      &:not(:last-child)
        margin-right 12px




.the-prize
  position relative
  // overflow hidden
  border-radius 11px 11px 0 0
  padding 30px 10px
  text-align center
  color #fff 
  +breakpoint(large)
    padding-left 20px
    padding-right 20px
  +breakpoint(wide)
    padding-left 55px
    padding-right 55px
    
  &:not(.is-active)
    display none
  
  &:before
    border-radius 11px 11px 0 0
    overflow hidden
    position absolute
    z-index 1
    display inline-block
    width 100%
    height calc(100% + 20px)
    left 0
    top 0
    content "" 
    bg('prize-bg.png')
    background-position 50% 0% 
    background-size auto 100% 
  &__item
    position relative
    z-index 2
    &:not(.is-active)
      display none  
  
  &__image
    background-color #fff 
    width 138px
    height 138px
    background-position 50% 50% !important 
    margin 0 auto
    border-radius 5px
    margin-bottom 20px
    background-color #d65151 
    &_1 
      bg('prize-1.jpg')
    &_2 
      bg('prize-2.jpg')
    &_3 
      bg('prize-3.jpg')
  
  &__title-1 
    font-size 18px
    text-transform uppercase
    margin-bottom 5px
    font-weight 500 
  &__title-2 
    font-size 22px
    line-height 30px
    text-transform uppercase
    margin-bottom 6px
    font-weight 700 
  &__description 
    font-size 15px
    line-height 20px