.overlay
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  display flex
  justify-content center
  align-items center 
  background-color rgba(25,111,162,.8);
  padding 10px
  min-width 300px
  display none  
  z-index 9999
  &.is-active
    
    display flex

.modal 
  max-width 522px
  width 100%
  flex 0 0 auto
  background-color #fff
  border-radius 11px
  position relative
  padding 20px 10px
  text-align center
  +breakpoint(medium)
    padding 50px 70px
  
  
  &__close
    position absolute
    width 40px
    height 40px
    top -20px
    right -20px
    background-color #fff
    border-radius 50%
    display block
    text-align center
    line-height 40px
    cursor pointer
    svg 
      display inline-block
      vertical-align middle
      height 16px
      width 16px
      fill $blue

  &__icon
    display block
    text-align center
    margin-bottom 20px
    svg 
      display inline-block
      fill #d65151
    
  &__name
    text-transform uppercase
    font-size 18px
    line-height 24px
    margin-bottom 5px
  
  &__title
    font-size 22px
    line-height 30px
    margin-bottom 10px
    text-transform uppercase
    color $blue 
  
  &__text
    font-size 15px
    line-height 20px
    margin-bottom 23px
    
  &__button
    height 48px
    text-align center
    width 222px
    text-transform uppercase
    color #fff 
    margin 0 auto
    border-radius 5px
    background-color $blue
    line-height 20px
    padding 14px
    font-size 16px
    font-weight 500 
    cursor pointer
     
