bg(
  $name   = '', 
  $x  = 50%, 
  $y  = 50%, 
  $repeat = no-repeat,
  $2x = false
  )
  background-position $x $y
  background-repeat $repeat
  background-image url($backgrounds-dir+$name)
  
  if $2x == true
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
      background-size cover 
      url($backgrounds-dir+'2x/'+$name)
    
