triangle(
  $direction = right, 
  $color = red, 
  $height = 20, 
  $width = $height
  )
  
  $height = $height + 0px
  $width = ceil($width / 2) + 0px
  
  border $width solid transparent
  display inline-block
  
  if $direction is 'right'
    border-right none
    border-left-width $height
    border-left-color $color
  else if $direction is 'left'
    border-left none
    border-right-width $height
    border-right-color $color
  else if $direction is 'top'
    border-top none
    border-bottom-width $height
    border-bottom-color $color
  else if $direction is 'bottom'
    border-bottom none
    border-top-width $height
    border-top-color $color
  