clearfix() 
  @extend .clearfix

wrapper()
  width 100%
  min-width 320px
  max-width 1260px
  margin-left auto
  margin-right auto 
  padding 0 15px
  +breakpoint(medium)
    padding 0 20px
  +breakpoint(large)
    padding 0 30px

anti-content-padding-top()
  margin-top -15px
  +breakpoint(medium)
    margin-top -30px

anti-content-padding()
  padding-left 15px
  padding-right 15px
  margin-left -15px
  margin-right -15px
  +breakpoint(medium)
    padding-left 20px
    padding-right 20px
    margin-left -20px
    margin-right -20px

anti-padding()
  padding 0 15px
  margin-left -15px
  margin-right -15px
  +breakpoint(medium)
    padding 0 20px
    margin-left -20px
    margin-right -20px
  +breakpoint(large)
    padding 0 30px
    margin 0 -30px

// grid flow
$half-gutter = $gutter / 2
$row
  margin-left -($half-gutter)
  margin-right -($half-gutter)
  clearfix()

$column
  float left
  margin-left $half-gutter
  margin-right $half-gutter

grid-columns($layout, $options)
  for $breakpoint, $columns in $layout
    // TODO: add inheritance, without 'only' modifier
    +breakpoint($breakpoint, only)
      width "calc(%s - %s)" % (floor(100% / $columns, 5) $gutter)
      if index($options, 'margin-bottom')
        margin-bottom $options[margin-bottom];
        &:nth-last-child(-n + {$columns})
          margin-bottom 0
          
      if index($options, 'clear')
        &:nth-child({$columns}n + 1)
          clear both  
  
grid($layout = {}, $options = {})

  @extend $row
  
  if index($options, 'nested')
    margin-left 0
    margin-right 0
  
  & > *
    @extend $column
    grid-columns($layout, $options)


// TODO: custom column size mixin
column($layout = {}) {}