translate-50($position = absolute) 
  position $position
  top 50%
  left 50%
  transform translate(-50%, -50%)

translate-50-h($position = absolute) 
  position $position
  left 50%
  transform translate(-50%, 0)
 
translate-50-v($position = absolute) 
  position $position
  top 50%
  transform translate(0, -50%)