doctype html

include ../bemto/bemto
- set_bemto_settings({ flat_elements: false })

include ../../../tmp/templates/mixins

html(lang="en-EN")

  block vars

  head
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0")
    //- meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
    //- meta(http-equiv="imagetoolbar", content="no")
    //- meta(http-equiv="cleartype", content="on")
    //- meta(name="format-detection", content="telephone=no")
    //- meta(name="format-detection", content="address=no")

    title #{metaTitle ? metaTitle : ''}
    meta(name="description", content="#{metaDescription ? metaDescription : ''}")
    meta(name="keywords", content="#{metaKeywords ? metaKeywords : ''}")
    
    link(
      rel="stylesheet"
      type="text/css"
      media="all"
      href="css/main.css"
    )
  
  body(class=(bodyClassName ? bodyClassName : ''))

    include ../../../tmp/svg-sprite.svg
    
    .body
      block content

    block overlay

    script(src="/js/bundle.js")
